---
---

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
        "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    
    font-size: 13pt;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

body { display: flex; flex-direction: column; align-items: center; }
main { display: flex; flex-direction: column; width: 100%; max-width: 720px; box-sizing: border-box; padding: 2em; }

header { display: flex; flex-direction: column; }
header p, header span { text-align: center; margin: 0; }

nav { display: flex; flex-direction: row; justify-content: center; }
nav a { margin: .5em 1em; }

footer { font-size: .8em; display: flex; flex-direction: row; border-top: 1px solid #ccc; }
footer article { padding: 0 3em 0 0; box-sizing: border-box; width: 50%; }

article { margin: 2em 0; }
article img { float: right; margin: 0 0 1em 1em; }

ul { list-style: square; margin: 0; padding-left: 2em; }

ul.post-list { list-style: none; padding-left: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 1em; text-transform: uppercase; font-weight: normal; }

a, a:visited { color: #2f69c2; text-decoration: none; text-transform: uppercase; }
a:hover { color: #427fed; }

p { margin: 0 0 .5em; }

span { font-size: .8em; }
